{{ define "main" }}
<div data-elementor-type="wp-post" data-elementor-id="81" class="elementor elementor-81 elementor-bc-flex-widget"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-66257e9a elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
                data-id="66257e9a" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-260ec959"
                            data-id="260ec959" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-3e43f849 elementor-widget elementor-widget-heading"
                                        data-id="3e43f849" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-large">Meet Our Team</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-2fb6457a elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
                data-id="2fb6457a" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b530f39"
                            data-id="b530f39" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-1b711f01 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                        data-id="1b711f01" data-element_type="widget"
                                        data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2e2e7980 elementor-widget elementor-widget-heading"
                                        data-id="2e2e7980" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-large">Your dedicated
                                                investment partner
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-59cca87c elementor-widget elementor-widget-text-editor"
                                        data-id="59cca87c" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>Here at Barrett Ventures, we understand the pressures of choosing the
                                                    right investment to best suit your business plans. That is why we
                                                    have a dedicated team of highly experienced, approachable
                                                    professionals with backgrounds in banking, private lending, and
                                                    industry.
                                                    <br><br>
                                                    Working with SME businesses, property developers, and manufacturers
                                                    across the UK, we offer a genuine alternative to bank lending,
                                                    ensuring a smooth investment process every step of the way.
                                                    <br> <br>
                                                    Talk to us about how we can make your business growth plans a
                                                    reality.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <svg width="64" height="64" viewBox="0 0 512 512"
                                                        style="color:#dfaa0a" xmlns="http://www.w3.org/2000/svg"
                                                        class="h-full w-full">
                                                        <rect width="512" height="512" x="0" y="0" rx="30"
                                                            fill="transparent" stroke="transparent" stroke-width="0"
                                                            stroke-opacity="100%" paint-order="stroke"></rect><svg
                                                            width="321px" height="321px" viewBox="0 0 28 28"
                                                            fill="#dfaa0a" x="95.5" y="95.5" role="img"
                                                            style="display:inline-block;vertical-align:middle"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g fill="#dfaa0a">
                                                                <path fill="currentColor"
                                                                    d="m7.92 2.645l1.66-.5a3.25 3.25 0 0 1 3.903 1.779l1.033 2.298a3.25 3.25 0 0 1-.748 3.71l-1.805 1.683a.25.25 0 0 0-.054.073c-.189.386.098 1.417.997 2.975c1.014 1.756 1.797 2.45 2.16 2.343l2.369-.725a3.25 3.25 0 0 1 3.585 1.207l1.468 2.033a3.25 3.25 0 0 1-.4 4.262l-1.263 1.195a3.75 3.75 0 0 1-3.342.949c-3.517-.732-6.668-3.564-9.48-8.434C5.19 12.62 4.313 8.47 5.443 5.057a3.75 3.75 0 0 1 2.478-2.412Zm.434 1.436a2.25 2.25 0 0 0-1.487 1.447c-.974 2.941-.185 6.677 2.435 11.215c2.618 4.535 5.456 7.085 8.486 7.715a2.25 2.25 0 0 0 2.006-.57l1.262-1.194a1.75 1.75 0 0 0 .216-2.295l-1.468-2.034a1.75 1.75 0 0 0-1.93-.65l-2.375.727c-1.314.391-2.55-.704-3.892-3.03c-1.137-1.968-1.531-3.39-1.045-4.383c.094-.192.222-.365.378-.511l1.805-1.683a1.75 1.75 0 0 0 .403-1.998L12.115 4.54a1.75 1.75 0 0 0-2.102-.958l-1.66.5Z" />
                                                            </g>
                                                        </svg>
                                                    </svg>
                                                    <b>Call Us</b> 0203 773 1523
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <svg width="68" height="68" viewBox="0 0 512 512"
                                                        style="color:#dfaa0a" xmlns="http://www.w3.org/2000/svg"
                                                        class="h-full w-full">
                                                        <rect width="512" height="512" x="0" y="0" rx="30"
                                                            fill="transparent" stroke="transparent" stroke-width="0"
                                                            stroke-opacity="100%" paint-order="stroke"></rect><svg
                                                            width="321px" height="321px" viewBox="0 0 24 14"
                                                            fill="#dfaa0a" x="95.5" y="95.5" role="img"
                                                            style="display:inline-block;vertical-align:middle"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g fill="#dfaa0a">
                                                                <path fill="currentColor"
                                                                    d="M14.5 13h-13C.67 13 0 12.33 0 11.5v-9C0 1.67.67 1 1.5 1h13c.83 0 1.5.67 1.5 1.5v9c0 .83-.67 1.5-1.5 1.5ZM1.5 2c-.28 0-.5.22-.5.5v9c0 .28.22.5.5.5h13c.28 0 .5-.22.5-.5v-9c0-.28-.22-.5-.5-.5h-13Z" />
                                                                <path fill="currentColor"
                                                                    d="M8 8.96c-.7 0-1.34-.28-1.82-.79L.93 2.59c-.19-.2-.18-.52.02-.71c.2-.19.52-.18.71.02l5.25 5.58c.57.61 1.61.61 2.18 0l5.25-5.57c.19-.2.51-.21.71-.02c.2.19.21.51.02.71L9.82 8.18c-.48.51-1.12.79-1.82.79Z" />
                                                            </g>
                                                        </svg>
                                                    </svg>
                                                    <b>Email</b> info@barrettventures.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="row">
                        {{ range .Data.Pages }}
                        <div class="col-lg-4 col-sm-6 mb-5">
                            <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="post-title">
                                <div class="card border-0">
                                    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}"
                                        class="card-img rounded-lg mb-4">
                                    <div class="card-body p-0">
                                        <h3><a href="{{ .RelPermalink }}" title="{{ .Title }}" class="post-title">{{
                                                .Title }}</a></h3>
                                        {{ with .Params.designation }}
                                        <h6 class="text-secondary">{{ . }}</h6>
                                        {{ end }}
                                        <p class="card-text">{{ .Params.summary }}</p>
                                        <a href="{{ .RelPermalink }}" title="{{ i18n " readmore" }} - {{ .Title }}"
                                            class="btn btn-primary btn-sm">{{ i18n "readmore" }}</a>
                                    </div>
                            </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
        </div>
        </section>

    </div>
</div>
</div>
{{ end }}