{{ define "main" }}
<div data-elementor-type="wp-post" data-elementor-id="81" class="elementor elementor-81 elementor-bc-flex-widget"
data-elementor-settings="[]">
<div class="elementor-inner">
    <div class="elementor-section-wrap">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-66257e9a elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
            data-id="66257e9a" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-260ec959"
                        data-id="260ec959" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-3e43f849 elementor-widget elementor-widget-heading"
                                    data-id="3e43f849" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h1 class="elementor-heading-title elementor-size-large">About Barrett
                                            Ventures</h1>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-502607fc elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                    data-id="502607fc" data-element_type="widget"
                                    data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-36dcfcd elementor-widget elementor-widget-heading"
                                    data-id="36dcfcd" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <p class="elementor-heading-title elementor-size-medium">Barrett
                                            Ventures is a private equity partner company that is owned and operated by
                                            British Nationals with a strong background in entrepreneurship,
                                            operations, investing and corporate strategy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-2fb6457a elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
            data-id="2fb6457a" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b530f39"
                        data-id="b530f39" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-1b711f01 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                    data-id="1b711f01" data-element_type="widget"
                                    data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2e2e7980 elementor-widget elementor-widget-heading"
                                    data-id="2e2e7980" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-large">How can private
                                            equity help my company?</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-59cca87c elementor-widget elementor-widget-text-editor"
                                    data-id="59cca87c" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>A private equity fund is a pool of capital contributed by
                                                institutional investors, pension funds and high net worth
                                                individuals. A private equity company, therefore, is a group of
                                                knowledgable investors that take this fund and combine it with
                                                their expertise in finance, investing, corporate strategy and
                                                operational management. By injecting&nbsp;these necessary
                                                resources into&nbsp;a company an increase increase in it’s cash
                                                flow is achieved as well as in increase in the company’s
                                                enterprise value.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4ec2e41e"
                        data-id="4ec2e41e" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-1d2e7835 elementor-widget elementor-widget-image"
                                    data-id="1d2e7835" data-element_type="widget"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img width="720" height="720"
                                                src="/images/corporate-icon-1.png"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                srcset="/images/corporate-icon-1.png 720w, /images/corporate-icon-1-150x150.png 150w, /images/corporate-icon-1-300x300.png 300w"
                                                sizes="(max-width: 720px) 100vw, 720px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-5b7cc3ac elementor-section-height-min-height elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
            data-id="5b7cc3ac" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-537ada86"
                        data-id="537ada86" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-705e30d0 elementor-widget elementor-widget-image"
                                    data-id="705e30d0" data-element_type="widget"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img width="1536" height="1920"
                                                src="/images/quill-and-ink-pot.png"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                srcset="/images/quill-and-ink-pot.png 1536w, /images/quill-and-ink-pot-240x300.png 240w, /images/quill-and-ink-pot-768x960.png 768w, /images/quill-and-ink-pot-819x1024.png 819w"
                                                sizes="(max-width: 1536px) 100vw, 1536px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3a91e79d"
                        data-id="3a91e79d" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-78e51b74 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                    data-id="78e51b74" data-element_type="widget"
                                    data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1c148e94 elementor-widget elementor-widget-heading"
                                    data-id="1c148e94" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-large">What companies
                                            do we select for private equity?</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-221b6fed elementor-widget elementor-widget-text-editor"
                                    data-id="221b6fed" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Our particular private equity group look to acquire businesses
                                                whose revenues are typically between £1m-£5m. We specialise in
                                                acquiring owner-managed companies where we can add value by
                                                putting the necessary business support services in place to help
                                                that company scale and grow. We will consider investments into
                                                business in all industry sectors as long as they have shown
                                                consistent profit.&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-2fe2e25b elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
            data-id="2fe2e25b" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3d4577e9"
                        data-id="3d4577e9" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-40b95794 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                    data-id="40b95794" data-element_type="widget"
                                    data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-29c4a03a elementor-widget elementor-widget-heading"
                                    data-id="29c4a03a" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-large">What is barrett
                                            ventures' business model?</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-6a482e7d elementor-widget elementor-widget-text-editor"
                                    data-id="6a482e7d" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>We aim to increase the private equity pool of funds in a low risk
                                                process. High returns are achieved for our contributors of
                                                capital by taking advantage of our skill set in acquiring great
                                                companies where value can be added by applying our strategic and
                                                operational expertise. By leveraging efficiencies in business
                                                operations and applying solutions to improve growth and
                                                scalability we increase a companies bottom line and in return
                                                shareholder equity.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3760c474"
                        data-id="3760c474" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-63962e85 elementor-widget elementor-widget-image"
                                    data-id="63962e85" data-element_type="widget"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img width="720" height="720"
                                                src="/images/building-icon.png"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                srcset="/images/building-icon.png 720w, /images/building-icon-150x150.png 150w, /images/building-icon-300x300.png 300w"
                                                sizes="(max-width: 720px) 100vw, 720px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-1e94fb7b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="1e94fb7b" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-681ac0d8"
                        data-id="681ac0d8" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-432b767b elementor-widget elementor-widget-heading"
                                    data-id="432b767b" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-large">Where we add
                                            value</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-431c923a elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                    data-id="431c923a" data-element_type="widget"
                                    data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-64c805e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="64c805e0" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-wider">
                                        <div class="elementor-row">
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7e6ac271"
                                                data-id="7e6ac271" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-2ec7faa4 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                                                            data-id="2ec7faa4" data-element_type="widget"
                                                            data-widget_type="image-box.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image-box-wrapper">
                                                                    <figure class="elementor-image-box-img"><img
                                                                            width="128" height="128"
                                                                            src="/images/1470399662_Marketing.png"
                                                                            class="attachment-full size-full"
                                                                            alt="" loading="lazy"></figure>
                                                                    <div class="elementor-image-box-content">
                                                                        <h3 class="elementor-image-box-title">
                                                                            Growth capital</h3>
                                                                        <p
                                                                            class="elementor-image-box-description">
                                                                            We can provide capital to be able to
                                                                            expand or restructure operations in
                                                                            order to increase business value</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-5f6dc150 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                                                            data-id="5f6dc150" data-element_type="widget"
                                                            data-widget_type="image-box.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image-box-wrapper">
                                                                    <figure class="elementor-image-box-img"><img
                                                                            width="128" height="128"
                                                                            src="/images/1470399671_SEO.png"
                                                                            class="attachment-full size-full"
                                                                            alt="" loading="lazy"></figure>
                                                                    <div class="elementor-image-box-content">
                                                                        <h3 class="elementor-image-box-title">
                                                                            Global and scalable</h3>
                                                                        <p
                                                                            class="elementor-image-box-description">
                                                                            No matter where our selected
                                                                            investments are in their growth
                                                                            phase we think long term and global.
                                                                            We aim to scale every enterprise to
                                                                            it's true potential and ensure they
                                                                            have the support in place to allow
                                                                            them to operate globally</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-3a94ddab elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                                                            data-id="3a94ddab" data-element_type="widget"
                                                            data-widget_type="image-box.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image-box-wrapper">
                                                                    <figure class="elementor-image-box-img"><img
                                                                            width="128" height="128"
                                                                            src="/images/1470399715_E-Commerce.png"
                                                                            class="attachment-full size-full"
                                                                            alt="" loading="lazy"></figure>
                                                                    <div class="elementor-image-box-content">
                                                                        <h3 class="elementor-image-box-title">
                                                                            Online presence</h3>
                                                                        <p
                                                                            class="elementor-image-box-description">
                                                                            We look at how a company presents
                                                                            itself online with an aim to enhance
                                                                            it's presence and reach. We are
                                                                            passionate about the use of tech to
                                                                            enhance a companies operations and
                                                                            sales</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3d31fc5b"
                                                data-id="3d31fc5b" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-2b9ccc7b elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                                                            data-id="2b9ccc7b" data-element_type="widget"
                                                            data-widget_type="image-box.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image-box-wrapper">
                                                                    <figure class="elementor-image-box-img"><img
                                                                            width="128" height="128"
                                                                            src="/images/1470399674_App_Development.png"
                                                                            class="attachment-full size-full"
                                                                            alt="" loading="lazy"></figure>
                                                                    <div class="elementor-image-box-content">
                                                                        <h3 class="elementor-image-box-title">
                                                                            Mobile solutions</h3>
                                                                        <p
                                                                            class="elementor-image-box-description">
                                                                            In an increasingly mobile world, we
                                                                            believe every company should have a
                                                                            solution to leverage mobile. We look
                                                                            at solutions to improve the benefits
                                                                            gained from the use of mobile
                                                                            devices</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-ac7581c elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                                                            data-id="ac7581c" data-element_type="widget"
                                                            data-widget_type="image-box.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image-box-wrapper">
                                                                    <figure class="elementor-image-box-img"><img
                                                                            width="128" height="128"
                                                                            src="/images/1470399667_Newsletter.png"
                                                                            class="attachment-full size-full"
                                                                            alt="" loading="lazy"></figure>
                                                                    <div class="elementor-image-box-content">
                                                                        <h3 class="elementor-image-box-title">
                                                                            Marketing strategy</h3>
                                                                        <p
                                                                            class="elementor-image-box-description">
                                                                            A great marketing strategy is the
                                                                            key to unlock hidden profit
                                                                            potential. We aim to drive revenue
                                                                            by ensuring the marketing is
                                                                            carefully considered and well
                                                                            executed</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-4b4e5655 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box"
                                                            data-id="4b4e5655" data-element_type="widget"
                                                            data-widget_type="image-box.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image-box-wrapper">
                                                                    <figure class="elementor-image-box-img"><img
                                                                            width="128" height="128"
                                                                            src="/images/1470399656_Branding.png"
                                                                            class="attachment-full size-full"
                                                                            alt="" loading="lazy"></figure>
                                                                    <div class="elementor-image-box-content">
                                                                        <h3 class="elementor-image-box-title">
                                                                            Management and planning</h3>
                                                                        <p
                                                                            class="elementor-image-box-description">
                                                                            Behind every great company is a
                                                                            great team. A team needs a vision
                                                                            for alignment, a strategy for
                                                                            delivery and a plan for execution.
                                                                            We work with businesses to ensure
                                                                            all of these vital elements are in
                                                                            place</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-45c4a768 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="45c4a768" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;none&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-17e08bc0"
                        data-id="17e08bc0" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-15983a60 elementor-widget elementor-widget-testimonial"
                                    data-id="15983a60" data-element_type="widget"
                                    data-widget_type="testimonial.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-testimonial-wrapper">
                                            <div class="elementor-testimonial-content">"Coming together is a
                                                beginning, staying together is progress, and working together is
                                                success."</div>

                                            <div
                                                class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                <div class="elementor-testimonial-meta-inner">
                                                    <div class="elementor-testimonial-image">
                                                        <img width="150" height="150"
                                                            src="/images/Henry_ford-150x150.jpg"
                                                            class="attachment-thumbnail size-thumbnail" alt=""
                                                            loading="lazy">
                                                    </div>

                                                    <div class="elementor-testimonial-details">
                                                        <div class="elementor-testimonial-name">Henry Ford</div>
                                                        <div class="elementor-testimonial-job">Business Tycoon
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-6a9956a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="6a9956a6" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1c1e0186"
                        data-id="1c1e0186" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-7f52a4c9 elementor-widget elementor-widget-heading"
                                    data-id="7f52a4c9" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-large">Contact us</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-32782937 elementor-widget elementor-widget-heading"
                                    data-id="32782937" data-element_type="widget"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <p class="elementor-heading-title elementor-size-medium">Get in touch
                                            for more information about how we can help you successfully exit
                                            your business or provide strategic advice that can transform your
                                            life or the value of your business.

                                        </p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-602f68e9 elementor-widget elementor-widget-button"
                                    data-id="602f68e9" data-element_type="widget"
                                    data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a href="http://eepurl.com/du2WOj"
                                                class="elementor-button-link elementor-button elementor-size-md"
                                                role="button">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Contact Us</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>

{{ end }}